.env
.env.local
**/node_modules/

# Build output
dist/
public/output.css 

firebase-debug.log
firestore-debug.log
.node_repl_history
emulator-data/
firebase-export-*
.firebaserc
.firebase/

.DS_Store
Thumbs.db
